{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.0.0",
        "id": "urn:uuid:69c58438-9384-4570-b0c8-a8a7c9c297c1",
        "label": "consul-nma",
        "remark": "Simple HTTP Service with Round-Robin Load Balancing",
        ${tenant_name}: {
            "class": "Tenant",
            ${service_declarations}
        }
    }
}