            {
                "class": "Application",
                "template": "http",
                "serviceMain": {
                    "class": "Service_HTTP",
                    "virtualAddresses": ${virtual_addresses},
                    "pool": "sna_pool_1",
                    "persistenceMethods": []
                },
                "sna_pool_1": {
                    "class": "Pool",
                    "monitors": [
                        "http"
                    ],
                    "members": [
                        {
                            "serverAddresses": ${addresses}
                        }
                    ]
                }
            }